/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges 
.body-content {
    margin-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
}
*/

body {
    margin: 0; /* Elimina márgenes en el body */
    padding: 0; /* Elimina padding en el body */
}

/* Set widths on the form inputs since otherwise they're 100% wide 
input,
select,
textarea {
    max-width: 280px;
}
*/

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .body-content {
        padding: 0;
    }
}

.top-header{
    background-color:black;
    padding:20px;
}

.header-title {
    font-size: 3.5em;
    margin: 0;
    -webkit-text-stroke: 1px white;
    text-align:center;
}

footer {
    background: black;
    color: ghostwhite;
    font-family: monospace;
    text-align: center;
    position: relative;
    bottom: 0;
    width: 100%;
    margin: 0;
    padding: 20px 0;
    margin-bottom: 80px;
}

/*Estilos para default.aspx*/

/* Estilos para cambiar la posición aleatoriamente */

.default .card-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    place-items: center;
    margin-bottom: 80px;
}

.default .custom-textbox {
    width: 200px; /* Ancho del textbox */
    height: 40px; /* Altura del textbox */
    padding: 10px; /* Relleno interno */
    font-size: 26px; /* Tamaño del texto */
    border: 2px solid #333; /* Borde con un color personalizado */
    border-radius: 5px; /* Bordes redondeados */
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Sombra sutil */
    outline: none; /* Elimina el borde azul al enfocar */
    margin-bottom: 20px;
    place-items: center;
}

.default .custom-textbox:focus {
    border-color: #28a745; /* Cambia el color del borde cuando el campo esté en foco */
    box-shadow: 0px 0px 8px rgba(40, 167, 69, 0.5); /* Añade una sombra verde cuando está enfocado */
}
.default .card-body p {
    margin-bottom: 30px; /* Espacio entre el texto y el botón */
    font-size: 24px; /* Tamaño del texto */
    color: black; /* Color del texto */
    place-items: center;
}


.default .card-body .btn-custom {
    color: black; /* Color del texto */
    font-size: 28px; /* Tamaño de la fuente */
    padding: 10px 20px; /* Relleno interno */
    border-radius: 5px; /* Bordes redondeados */
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.word-container {
    position: relative; /* Para posicionamiento absoluto de los hijos */
    width: 80%; /* Define el ancho de la zona */
    height: 200px; /* Altura de la zona */
    margin: 0 auto; /* Centrar el contenedor horizontalmente */
    border: 2px solid black; /* Borde para visualizar el área */
    overflow: hidden; /* Para que las palabras no se salgan del contenedor */
    background-color: lightgray; /* Fondo temporal para ver los límites */
    margin-bottom: 90px;
}

.word {
    position: absolute;
    font-size: 24px;
    color: black;
    animation: fadeInOut 5s infinite ease-in-out;
    margin-bottom: 10px;
}

@keyframes fadeInOut {
    0% {
        opacity: 0; /* Comienza invisible */
    }

    20% {
        opacity: 1; /* Se vuelve visible */
    }
    60%{
        opacity:1;
    }

    80% {
        opacity: 1; /* Mantiene la visibilidad */
    }

    100% {
        opacity: 0; /* Se desvanece nuevamente */
    }
}

/* Aparecen de manera aleatoria dentro de la zona */
.word:nth-child(1) {
    top: 5%;
    left: 20%;
    animation-delay: 0s;
}

.word:nth-child(2) {
    top: 40%;
    left: 50%;
    animation-delay: 1s;
}

.word:nth-child(3) {
    top: 60%;
    left: 30%;
    animation-delay: 2s;
}

.word:nth-child(4) {
    top: 20%;
    left: 70%;
    animation-delay: 0.5s;
}

.word:nth-child(5) {
    top: 50%;
    left: 10%;
    animation-delay: 4.5s;
}

.word:nth-child(6) {
    top: 20%;
    left: 10%;
    animation-delay: 0s;
}

.word:nth-child(7) {
    top: 50%;
    left: 40%;
    animation-delay: -1s;
}

.word:nth-child(8) {
    top: 30%;
    left: 60%;
    animation-delay: 2s;
}

.word:nth-child(9) {
    top: 70%;
    left: 20%;
    animation-delay: -2.5s;
}

.word:nth-child(10) {
    top: 10%;
    left: 50%;
    animation-delay: -3.5s;
}


/*Detalle Articulo*/

.articuloPage .txtSeleccion {

    font-size:20px;
    text-align:center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.articuloPage .tablaArticulos{


}


